* {
  margin: 0;
  padding: 0;
}
.box {
  background-image: url(https://images.pexels.com/photos/326612/pexels-photo-326612.jpeg?auto=compress&cs=tinysrgb&w=600);
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  color: #f50707;
}
button {
  background-color: #f08630;
  border: 5px solid #63c720bb;
  border-radius: 10px;
  font-size: 30px;
}
.inner-box {
  position: relative;
  width: 80vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.yes {
  margin-right: 20px;
}
.title {
  color: #1f5552;
}
.No:hover {
  transform: translate(-100px);
}
a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}
